.bicycles {
	padding: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
}

.title {
	display: flex;
	align-self: stretch;
	width: 100%;
}

.card {
	margin: 1rem;
}

.cart {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #eee;
	justify-content: stretch;
	align-items: center;
	height: 100vh;
	width: 25%;
	padding: 1rem;
	overflow: hidden;
}

.cart .btn {
	font-size: 1rem;
}

@media (max-width: 768px) {
	.cart {
		display: block;
		position: relative;
		width: 100%;
		height: 50vh;
	}
}
